.row
  .large-12.columns
    .dashboard-title
      Denver Bark Center Dashboard
  %hr
.row
  .large-6.columns.dashboard
    .business-info
      %p Denver Bark Center
      %p 555 Main Street
      %p Denver, CO 80209
      %p ---------
      %p 555-666-7777
  .large-1-columns.white-space
  .large-5.columns.dashboard
    .dashboard-title
      Business Overview
      %hr
    %p Clients: 75
    %p Dogs: 85
.row
  .large-3.columns.dashboard
  .large-3.columns.dashboard
  .large-3.columns.dashboard
