.row
  .large-12.columns
    .dashboard-title
      Denver Bark Center Dashboard
  %hr
.row
  .large-6.columns.dashboard
    .business-info
      Denver Bark Center
      %br
      555 Main Street
      %br
      Denver, CO 80209
      %br
      ---------
      %br
      555-666-7777
  .large-1-columns.white-space
  .large-5.columns.dashboard
    .dashboard-title
      Business Overview
      %hr
    %p
      Clients: 75
      =link_to "[view database]", "#", style:'font-size: 12px;'
    %p
      Dogs: 85
      =link_to "[view database]", "#", style:'font-size: 12px;'
.row
  .large-12.columns
    .dashboard-title
      What Do You Want to Do?
  %hr
.row
  .large-3.columns.dashboard
    %i.fi-email
    Hello Workd
  .large-3.columns.dashboard
  .large-3.columns.dashboard
