.row
  .large-12.columns
    .dashboard-title
      Denver Bark Center Dashboard
  %hr
.row
  .large-12.columns.dashboard
    .large-6.columns
      .business-info
        Denver Bark Center
        %br
        555 Main Street
        %br
        Denver, CO 80209
        %br
        555-666-7777
    .large-1-columns.white-space
    .large-5.columns
      .dashboard-title
        Business Overview
        %hr
      %p
        Clients: 75
        =link_to "[view database]", "#", style:'font-size: 12px;'
      %p
        Dogs: 85
        =link_to "[view database]", "#", style:'font-size: 12px;'
.row
  .large-12.columns
    .dashboard-title
      What Do You Want to Do?
  %hr
.row
  %ul.large-block-grid-5.small-block-grid-1
    %li.centered
      =link_to "#" do
        .dashboard-green
          %i.fi-mail.dashboard-icon
          %br
          %p Send Email
    %li.centered
      =link_to "#" do
        .dashboard-orange
          %i.fi-guide-dog.dashboard-icon
          %br
          %p Add Pet
    %li.centered
      =link_to "#" do
        .dashboard-purple
          %i.fi-address-book.dashboard-icon
          %br
          %p Add Client
    %li.centered
      =link_to "#" do
        .dashboard-blue
          %i.fi-clock.dashboard-icon
          %br
          %p Set Reminder
    %li.centered
      =link_to "#" do
        .dashboard-yellow
          %i.fi-lightbulb.dashboard-icon
          %br
          %p Request Feature

