.row
  .large-12.columns
    .dashboard-title
      Denver Bark Center Dashboard
  %hr
.row
  .large-6.columns
    .business-info
      %p Denver Bark Center
      %p 555 Main Street
      %p Denver, CO 80209
      %p ---------
      %p 555-666-7777
  .large-6.columns.dashboard
    .dashboard-title
      Business Statistics
      %hr
