.row
  .large-2.columns.dashboard
    .dashboard-title
      Users
  .large-2.columns.dashboard
    .dashboard-title
      Pets
  .large-2.columns.dashboard
    .dashboard-title
      Pets
  .large-6.columns.dashboard.dashboard-end
    .dashboard-title
      Billing
