%form
  .row
    %fieldset
      %legend Client Email Form
      .row
        .large-12.column.panel.callout.radius.centered
          DoggieDashboard.com takes email SPAM very seriously.
          %br
          Please send informational emails only. No marketing or solicitation emails allowed.
      .small-12.large-12.column
        %label
          Recipient
          =link_to "[Change]", nil, style: 'font-size: 12px;'
          %input.radius(type="text" value="Bill Miller [ bill@example.com ]" disabled="true")
      .small-12.large-12.column
        %label
          Subject
          %input.radius(type="text" placeholder="Email Subject")
      .small-12.large-12.column
        %label
          Email
          %textarea.radius(type="text" rows="5" placeholder="Sparky had a great time at our Doggie Daycare today. His grooming appointment will be finished at 5pm today. See you then!")
      .small-12.large-12.column
        =link_to "Send Email", nil, class: 'button right radius'