.section.steel-blue.white-border-top
  .row.homepage-row
    %h2.secondary-header
      Managing Your Doggie Daycare Just Got Easier!
    %ul.upper-border{style: 'text-align: center;'}
      =link_to "" do
        %li.large-3.medium-6.small-12.column{style: 'float: left; list-style: none;'}
          %i.fi-address-book.homepage-size
          %p#home-list{style: 'margin-top: -20px'}
            Organize Clients & Pets
      =link_to "" do
        %li.large-3.medium-6.small-12.column{style: 'float: left; list-style: none;'}
          %i.fi-calendar.homepage-size
          %p#home-list{style: 'margin-top: -20px'}
            Schedule Appointments
      =link_to "" do
        %li.large-3.medium-6.small-12.column{style: 'float: left; list-style: none;'}
          %i.fi-mail.homepage-size
          %p#home-list{style: 'margin-top: -20px'}
            Email Clients
      =link_to "" do
        %li.large-3.medium-6.small-12.column{style: 'float: left; list-style: none;'}
          %i.fi-graph-trend.homepage-size
          %p#home-list{style: 'margin-top: -20px'}
            Monitor Business Stats
.section.light-grey.white-border-top
  .row.homepage-row
    .large-4.medium-4.small-12.columns
      %img.homepage-image(src="/tmp/email-gratisography.png")
      %h3#homepage-blurb Send Emails to Clients
      %p#homepage-p-list No more sifting through your inbox looking for client email addresses. With 2 clicks, you can email your clients!
    .large-4.medium-4.small-12.columns
      %img.homepage-image(src="/tmp/dog-gratisography.png")
      %h3#homepage-blurb Manage Pets & Owners
      %p#homepage-p-list Organizing customers (emails, pets, vaccinations, etc) can be difficult. Not anymore. Never use spreadsheets again!
    .large-4.medium-4.small-12.columns
      %img.homepage-image(src="/tmp/macbook-gratisography.png")
      %h3#homepage-blurb Use on Any Device
      %p#homepage-p-list iPhone, Android, iPad, Macbook, desktop, it doesn't matter. If you have an internet connection, you're good to go!
.section.steel-blue.white-border-top
  .row.homepage-row
    .large-6.small-6.column
      %ul.pricing-table
        %li.title Free Plan
        %li.price Free!
        %li.description Up to 500 Monthly Emails to Your Clients
        %li.bullet-item Unlimited customers, pets, notes and more!
        %li.cta-button
        %a.button.radius#table-button
          Get Started
    .large-6.small-6.column
      %ul.pricing-table
        %li.title Super Plan
        %li.price $5/mo
        %li.description Unlimited Emails per Month
        %li.bullet-item Unlimited customers, pets, notes and more!
        %li.cta-button
        %a.button.radius#table-button
          Get Started

