%form{"data-abide" => true}
  .row
    %fieldset
      %legend New Pet Form
      .row
        .large-12.column.panel.callout.radius
          Pet Owner Must be in Database Before Pet can be Added.
          =link_to "Add New Pet Owner", nil, style:'font-size: 12px;'
        %hr
        .small-12.large-4.columns
          %label
            Pet Name
            %input(type="text" placeholder="Pet Name" class='radius' required=true pattern='[a-zA-Z]+')
            %small.error Form Error
        .small-12.large-4.columns
          %label
            Pet Owner
            %select.radius
              %option(value="Bill Jones")
                Bill Jones
              %option(value="Sally Smith")
                Sally Smith
              %option(value="John Davis")
                John David
              %option(value="Nick Peters")
                Nick Peters
        .small-12.large-4.columns
          %label
            Breed (Best Guess)
            %input.radius(type="text" placeholder="Border Collie, Labrador/Terrier Mix, etc")
      .row
        .small-12.large-2.columns
          %label Sex
          %input(type="radio" name="sex" value="Male" id="sexMale")
            %label(for="sexMale")
              M
          %input(type="radio" name="sex" value="Female" id="sexFemale")
            %label(for="sexFemale")
              F
        .small-12.large-2.columns
          %label Spayed/Neutered
          %input(type="radio" name="fixed" value="No" id="FixedNo")
            %label(for="FixedNo")
              No
          %input(type="radio" name="fixed" value="Yes" id="FixedYes")
            %label(for="FixedYes")
              Yes
        .small-12.large-4.columns
          %label Vaccinations
          %input(type="checkbox" id="rabies")
            %label(for="rabies")
              Rabies
          %input(type="checkbox" id="bordetella")
            %label(for="bordetella")
              Bordetella
          %input(type="checkbox" id="dpp")
            %label(for="dpp")
              DPP
        .small-12.large-4.columns
          %label
            Veterinary Clinic & Contact Phone Number
            %input.radius(type="text" placeholder="Main Street Pet Clinic, 555-666-7777")
      .row
        .large-12.columns
          %label
            Notes:
            %textarea.radius(type="text" placeholder="Here you can put notes about allergies, medication, feeding schedule, special requirements, etc." rows="5")
      .row
        .large-12.columns
          =link_to "Add New Pet", nil, class: 'button radius right'



  /             <div class="large-6 columns">
  /     <label>Choose Your Favorite</label>
  /     <input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Red</label>
  /     <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Blue</label>
  /   </div>
  /   <div class="large-6 columns">
  /     <label>Check these out</label>
  /     <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
  /     <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
  /   </div>
  / </div>