%section
  %form{"data-abide" => true}
    .row
      %fieldset
        %legend New Customer Information
        .small-12.large-6.column
          %label
            First Name
            %input.radius(type="text" placeholder="Client First Name" class='radius' required=true pattern='[a-zA-Z]+')
          %small.error Please enter client's first name
        .small-12.large-6.column
          %label
            Last Name
            %input.radius(type="text" placeholder="Client Last Name" class='radius' required=true pattern='[a-zA-Z]+')
          %small.error Please enter client's last name
        .small-12.large-6.column
          %label
            Address
            %input.radius(type="text" placeholder="Address (555 Main Street)" required=true pattern='[a-zA-Z]+')
          %small.error Please enter an address
        .small-12.large-6.column
          %label
            Address Cont'd
            %input.radius(type="text" placeholder="Apt #1")
        .small-5.large-6.column
          %label
            City
            %input.radius(type="email" placeholder="City" required=true pattern='[a-zA-Z]+')
          %small.error Please enter a city
        .small-3.large-3.column
          %label
            State
            %input.radius(type="email" placeholder="State" required=true pattern='[a-zA-Z]+')
          %small.error Please enter a state (CO, WI, MN, etc)
        .small-4.large-3.column
          %label
            Zip
            %input.radius(type="text" placeholder="55555" required=true)
          %small.error Please enter a zipcode
        %hr
        %legend Contact Information
        %br
        .small-12.large-6.column
          %label
            Primary Phone | Format: 555-666-7777
            %input.radius(type="text" placeholder="Must Include Hypens | 555-666-7777" required=true pattern="[0-9\-]{12}" maxlength="12")
          %small.error Did you include the hyphens?
        .small-12.large-6.column
          %label
            Emergency Phone | Format: 555-666-7777
            %input.radius(type="text" placeholder="Must Include Hypens | 555-666-7777" maxlength="12")
          %small.error Did you include the hyphens?
        .small-12.large-3.column
          %label
            Email #1 (Required)
            %input.radius(type="email" placeholder="email@example.com" id="email1" required=true)
        .small-12.large-3.column
          %label
            Re-Enter Email #1 (Required)
            %input.radius(type="email" placeholder="email@example.com" data-equalto="email1" required=true)
          %small.error Email's Must Match
        .small-12.large-3.column
          %label
            Email #2 (Optional)
            %input.radius(type="email" placeholder="email@example.com" id="email2")
        .small-12.large-3.column
          %label
            Re-Enter Email #2 (Optional)
            %input.radius(type="email" placeholder="email@example.com" data-equalto="email2")
          %small.error Email's Must Match
        .small-12.large-12.column.logout-zone
          = link_to "Create New Customer", nil, class: 'button radius'
