.row.centered
  .small-12.columns
    %h2 Have an Idea for a New DoggieDashboard Feature?
    %span(style="font-size: 16px;")
      We're always looking for ways to improve DoggieDashboard. Thanks for the help!
%form
  .row
    .small-12.columns
      %fieldset
        %legend Suggest a Feature Form
        .small-12.large-12.column
          %label
            Suggested Feature
            %input.radius(type="text" placeholder="Email alerts, text message reminders, online billing, etc")
        .small-12.large-12.column
          %label
            Give Us Some Details About the Feature
            %textarea.radius(type="text" rows="3" placeholder="I think this feature would be great because...")
        .small-12.large-12.column
          =link_to "Send Feature Request", nil, class: 'button right radius'
  .row.centered
    .small-12.columns
      %h2
        Past & Current Feature Requests
        %span(style="font-size: 14px;")
          Yours will be added once we receive it.
    %hr
  .row
    .small-12.columns.centered
      .feature-box
        %i.fi-check.green-icon
        Pet Database
      .feature-box
        %i.fi-check.green-icon
        Vaccination Reminders
      .feature-box
        %i.fi-check.green-icon
        Client Emails
      .feature-box
        %i.fi-check.green-icon
        Email Reminders
      .feature-box
        %i.fi-x.red-icon
        Text Reminders
      .feature-box
        %i.fi-x.red-icon
        CC Billing