%form
  .row
    .small-12.medium-12.large-12.columns
      %fieldset
        %legend Log In Form
        .small-12.large-5.column
          %label
            Email Address
            %input.radius(type="email" placeholder="sally@example.com" required='true')
        .small-12.large-5.column
          %label
            Password
            %input.radius(type="password" required='true')
        .small-12.large-2.column
          .login-holder
            =link_to "Log In", nil, class: 'login-button'
        .small-12.column.centered.login-links
          =link_to "Register", "#"
          %span
            |
          =link_to "Forgot Your Password?", "#"
